In [1]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv(r"C:\Users\PARASU RAM\Downloads\archive (6).zip", encoding = 'latin-1')
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [6]:
data = data[['v1','v2']]
data = data.rename(columns = {'v1':'label', 'v2':'message'})

In [7]:
data.shape

(5572, 2)

In [8]:
data.isna().sum()

label      0
message    0
dtype: int64

In [9]:
data.describe()

       label                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [10]:
data['label'].value_counts()   # This is im-balance dataset

ham     4825
spam     747
Name: label, dtype: int64

In [11]:
data['label'].value_counts() / (len(data))

ham     0.865937
spam    0.134063
Name: label, dtype: float64

In [12]:
ham = data[data['label'] == 'ham']
spam = data[data['label'] == 'spam']

In [13]:
ham.shape , spam.shape

((4825, 2), (747, 2))

In [14]:
ham = ham.sample(spam.shape[0])

In [15]:
ham.shape

(747, 2)

In [16]:
df = ham.append(spam, ignore_index = True)

In [17]:
df   # Balanced Dataset

     label                                            message
0      ham      Then she buying today? ÌÏ no need to c meh...
1      ham  It so happens that there r 2waxsto do wat you ...
2      ham  Hi im having the most relaxing time ever! we h...
3      ham                           Ugh just got outta class
4      ham             I'm going out to buy mum's present ar.
...    ...                                                ...
1489  spam  Want explicit SEX in 30 secs? Ring 02073162414...
1490  spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
1491  spam  Had your contract mobile 11 Mnths? Latest Moto...
1492  spam  REMINDER FROM O2: To get 2.50 pounds free call...
1493  spam  This is the 2nd time we have tried 2 contact u...

[1494 rows x 2 columns]

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test = train_test_split(df['message'],df['label'], test_size = 0.25, random_state = 42)

In [20]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

In [21]:
cls = Pipeline([("tfidf", TfidfVectorizer()),("classifier", RandomForestClassifier(n_estimators = 100))])

In [22]:
cls.fit(x_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('classifier', RandomForestClassifier())])

In [23]:
y_pred = cls.predict(x_test)

In [24]:
from sklearn.metrics import classification_report , accuracy_score, confusion_matrix

In [25]:
accuracy_score(y_test, y_pred)

0.9411764705882353

In [26]:
confusion_matrix(y_test, y_pred)

array([[179,   1],
       [ 21, 173]], dtype=int64)

In [27]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         ham       0.90      0.99      0.94       180
        spam       0.99      0.89      0.94       194

    accuracy                           0.94       374
   macro avg       0.94      0.94      0.94       374
weighted avg       0.95      0.94      0.94       374

In [28]:
from sklearn.svm import SVC

In [29]:
svm = Pipeline([("tfidf",TfidfVectorizer()), ("classifier", SVC(C = 100, kernel = 'rbf', gamma = 'auto'))])

In [30]:
svm.fit(x_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('classifier', SVC(C=100, gamma='auto'))])

In [31]:
y_pred = svm.predict(x_test)

In [32]:
accuracy_score(y_test,y_pred)

0.893048128342246

In [33]:
confusion_matrix(y_test,y_pred)

array([[180,   0],
       [ 40, 154]], dtype=int64)

In [34]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         ham       0.82      1.00      0.90       180
        spam       1.00      0.79      0.89       194

    accuracy                           0.89       374
   macro avg       0.91      0.90      0.89       374
weighted avg       0.91      0.89      0.89       374

In [35]:
# Testing with our own data

test1 = ['Hello, you are learning NLP']
test2 = ['Congratulations, you won a lottery ticket worth $1 Million ! To claim call on 446677']

In [36]:
print(cls.predict(test1))  # Random Forest Predictions
print(cls.predict(test2))

['ham']
['spam']

In [37]:
print(svm.predict(test1))   # Svm predictions
print(svm.predict(test2))

['ham']
['spam']